body {
    background-color: transparent !important;
}
.frosted-glass {
    background-color: white !important;
    background-size: cover !important;
    opacity: 0.4 !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    border: 1px solid gray;
}
.note-editing-area {
    padding-top : 10% !important;
}
.note-editor { 
    border: none !important;
    background-color: transparent !important;
}
.note-style {
    margin-left : 3% !important;
}
.panel-body {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.panel-heading {
    border: none !important;
    background-color: transparent !important;
    padding-bottom: 10% !important;
}