<!DOCTYPE html>
<html lang="en" ng-app="dandelines">
    <head>
        <title>dandelines</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- include libraries(jQuery, bootstrap) -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
        <!-- include summernote css/js-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="summernote-mom" class="col-md-8 col-md-offset-2">
                    <div id="summernote">Hey</div>
                </div>
            </div>
        </div>
    <!-- TODO: Move styles to another file -->
    <style type="text/css">
        html {
            background: url("http://i.imgur.com/dZIXt2C.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#summernote').summernote({
            });
        });
    </script>
    </body>