<!DOCTYPE html>
<html lang="en" ng-app="dandelines">
    <head>
        <title>dandelines</title>
        <!-- include libraries(jQuery, bootstrap, summernote) -->
        <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="static/bower_components/summernote/dist/summernote.css" rel="stylesheet">
        <script src="static/bower_components/summernote/dist/summernote.js"></script>
        <script src="static/bower_components/sugar/release/sugar-full.min.js"></script>
        <!-- include my files-->
        <link rel="stylesheet" type="text/css" href="static/css/dandelines.css">
        <script src="static/js/dandelines.js"></script> 
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="summernote-mom" class="col-md-8 col-md-offset-2">
                    <div id="summernote"></div>
                </div>
            </div>
        </div>
        <div class="frosted-glass"></div>
        <div class="container">
            <div class="row">
                <!-- <h2 id="yesterday" class="col-md-3 col-md-offset-2 align-left">
                    <a href="#">< Yesterday</a>
                </h3> -->
                <h2 id="today" class="col-md-3 col-md-offset-7"></h2>
            </div>
        <div>
    </body>